body, html {
    margin: 0;
    padding: 0;
    height: 95%;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  .h {
    text-align: left;
    height: 20vh;
    width: 100%;
    margin: 1.875rem 0px;
  }
  
  .l {
    width: 99%;
    margin: 1.875rem auto;
  }
  
  .st {
    margin: 0px 0px 0px 1.875rem;
  }
  
  .head {
    margin: 1.25rem 0px 0px 1.875rem;
  }
  
  .main {
    text-align: left;
    height: auto;
    width: 98%;
    display: flex;
  }
.box2{
    display: flex;
    margin-top: 0.9375rem;
}
  .profile {
    width: 80px;
    height: 80px;
    background-color: rgb(172, 168, 168);
    border-radius: 50%;
    margin: 1.25rem;
  }
  
  .date, .street, .pin, .city {
    margin: 0.625rem 0 0.3125rem 1.25rem;
    font-weight: bold;
  }
  .street{
    margin-top: 1.25rem;
  }

  .dob{
    width: 18.75rem;
    margin: 0 1.25rem;
    height: 2.1875rem;
    border-radius: 0.4375rem;
    border: 1px solid gray;
  }
  .city-input,.pin-input{
    width: 12.5rem;
    margin: 0 1.25rem;
    height: 2.1875rem;
    border-radius: 0.375rem;
    border: 1px solid gray;
  }
  .street-input{
    width: 37.5rem;
    margin: 0 1.25rem;
   height: 2.1875rem;
   border-radius: 0.625rem;
   border: 1px solid gray;
  }
  
  .foot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem;
    margin-top: 5.125rem;
  }
  
  .btn {
    height: 2.8125rem;
    padding: 0 1.25rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
  }
  .btn:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
  }
  
  /* Media query for tablets */
  @media (max-width: 768px) {
    .dob, .street-input, .pin-input, .city-input {
      width: calc(100% - 40px);
    }
  }
  
  /* Media query for mobile phones */
  @media (max-width: 480px) {
    .h {
      margin: 1.25rem 0px;
    }
  
    .l {
      margin: 1.25rem auto;
    }
  
    .profile {
      width: 3.75rem;
      height: 3.75rem;
      margin-left: 1.25rem;
    }
  
    .date, .street, .pin, .city {
      margin-left: 1.25rem;
      font-size: 0.875rem;
    }
  
    .dob, .street-input, .pin-input, .city-input {
      width: calc(100% - 40px);
      height: 1.875rem;
      margin-left: 1.25rem;
    }
  
    .btn {
      height: 2.5rem;
      width: auto;
      font-size: 0.875rem;
      margin-right: 1.25rem;
    }
  }
  